{% extends 'student/base.html' %}
{% block title %}Student{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Course Content | Announcements</h1>
            {% if announcements %}
            {% for announcement in announcements %}
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">{{ announcement.title }}</h2>
                    <p class="card-text">{{ announcement.content }}</p>
                    {% if announcement.image %}
                    <img src="{{ announcement.image.url }}" alt="Announcement Image" class="img-fluid mb-3">
                    <a href="{{ announcement.image.url }}" class="btn btn-primary" download>Download Image</a>
                    {% endif %}
                    {% if announcement.file %}
                    <a href="{{ announcement.file.url }}" class="btn btn-primary mt-2" download>{{ announcement.file.name }}</a>
                    {% endif %}
                    <p class="card-text">Announcement Date: {{ announcement.date_posted }}</p>
                    <p class="card-text">IC: {{ announcement.prof }}</p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No Announcements or content to show.</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="container">
                <h1>Course Detail</h1>
                <p><strong>Course Name:</strong> {{ course.name }}</p>
                <p><strong>Course Code:</strong> {{ course.uid }}</p>
                <p><strong>Units:</strong> {{ course.units }}</p>
                <p><strong>Instructor in Charge:</strong> {{ course.ic }}</p>
                {% if course_enrollments.grade %}
                <p><strong>Grade:</strong> {{ course_enrollments.grade }}</p>
                {% else %}
                <p><strong>Grade:</strong> Not Yet Assigned</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
