{% extends 'student/base.html' %}
{% block title %}Student{% endblock %}
{% block content %}
{% load static %}
<style>
    .complaint-block {
        background-color: #f9f9f9;
        color: #333;
        border-left: 5px solid #ccc;
        padding: 10px;
        margin-bottom: 20px;
    }

    .complaint-block img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .download-link {
        margin-top: 10px;
        display: block;
    }
</style>
<div class="container">
    <h1>Course Content | Announcements</h1>
    {% if announcements %}
    {% for announcement in announcements %}
    <div class="complaint-block">
        <h2>{{ announcement.title }}</h2>
        <p>{{ announcement.content }}</p>
        {% if announcement.image %}
        <img src="{{ announcement.image.url }}" alt="Announcement Image">
        <a href="{{ announcement.image.url }}" class="download-link" download>Download Image</a>
        {% endif %}
        {% if announcement.file %}
        <a href="{{ announcement.file.url }}" class="download-link" download>{{ announcement.file.name }}</a>
        {% endif %}
        <p>Announcement Date: {{ announcement.date_posted }}</p>
        <p>IC: {{ announcement.prof }}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>No Announcements or content to show.</p>
    {% endif %}
</div>
<div class="container">
    <h1>Course Detail</h1>
    <p><strong>Course Name:</strong> {{ course.name }}</p>
    <p><strong>Course Code:</strong> {{ course.uid }}</p>
    <p><strong>Units:</strong> {{ course.units }}</p>
    <p><strong>Instructor in Charge:</strong> {{ course.ic }}</p>
    {% if course.grade %}
    <p><strong>Grade:</strong> {{ course.grade }}</p>
    {% else %}
    {% endif %}
    <p><strong>Grade:</strong> Not Yet Assigned</p>
</div>

{% endblock %}
