{% extends 'student/base.html' %}
{% block title %}Student{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    {% for eval in evals %}
    <div class="card shadow">
        <div class="card-body">
            <h2 class="card-title">Eval: {{eval.eval.course.name}}</h2>
            <p class="card-text">Grade(out of 10): {{eval.grade}}</p>
        </div>
    </div>
    <br>
    {% endfor %}
    <a href="{% url 'generate_pdf' %}" class="btn btn-primary">Download Grades PDF</a>
</div>
{% endblock %}
