{% extends 'student/base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">Enrolled Courses</h2>
                    <p><strong>Current units: {{current_units}}</strong></p>
                    <p><strong>Required units: {{required_units}}</strong></p>
                    <ul class="list-group">
                        {% if enrolled_courses %}
                        {% for enrollment in enrolled_courses %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ enrollment.course.name }}
                            <form method="post" action="{% url 'unregister_course' enrollment.course.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Unregister</button>
                            </form>
                        </li>
                        {% endfor %}
                        {% else %}
                        <p class="card-text">You have not been enrolled in any courses</p>
                        {% endif %}
                    </ul>
                    {% if disable_registration == 0 %}
                    <h2 class="card-title mt-4">Courses Available For This Semester</h2>
                    <ul class="list-group">
                        {% if available_courses %}
                        {% for course in available_courses %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ course.name }}
                            <form method="post" action="{% url 'register_course' course.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Register</button>
                            </form>
                        </li>
                        {% endfor %}
                        {% else %}
                        <p class="card-text">No courses available</p>
                        {% endif %}
                    </ul>
                    {% elif disable_registration == 1 %}
                    <p class="card-text"><strong>You are exceeding your maximum unit for this semester.</strong></p>
                    <p class="card-text">Please unregister from other courses to select further courses.</p>
                    {% else %}
                    <p class="card-text"><strong>The credits requirements are fulfilled.</strong></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title">CDC Courses for this Semester</h2>
                    <ul class="list-group">
                        {% for a in cdc_list %}
                        <li class="list-group-item">{{ a.course.name }}</li>
                        {% endfor %}
                    </ul>
                    <form method="post" action="{% url 'add_all_cdc' %}">
                        {% csrf_token %}
                        <button type="submit"
                                onclick="return confirm('You will be automatically enrolled in all of your Compulsory Disciplinary Courses.')"
                                class="btn btn-primary mt-3">Add All CDC
                        </button>
                    </form>
                    <h2 class="card-title mt-4">Instructions</h2>
                    <p><strong>First select All CDC courses then select other electives and extra courses.</strong></p>
                    <p><strong>You can just click the above "Add All CDC" button to register in all the CDC of your Branch.</strong></p>
                    <a href="{% url 'student_dashboard' %}" class="btn btn-primary">SAVE</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
