{% extends 'prof/prof_base.html' %}
{% block title %}Add Eval{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="card shadow">
        <div class="card-body">
            <h1 class="card-title">Grade Evaluation for {{ evaluative }}</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>{{ student.student }}</td>
                                <td><input type="number" name="grade_{{ student.id }}" value="{{ student.grade }}" class="form-control"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit Grades</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
